<form asp-action="Index">
  <label> Fullname: </label>
  <input type="text" name="fname" place holder="enter Fullname"/>
  <input type="Email" name="Email" place holder ="enter Email"/>
  <input type = "submit" value = "save"/>
  
</form>
<h1>@ViewBag.thongbao</h1>



