<div class="w3-container w3-boder" >
  <h2>Input Person</h2>
<form asp-action="Index" class="w3-container" method="post">
  <p>
  <label>PersonID:</label>
  <input class="w3-input" type="text" name="PersonID"></p>
  <p>
  <label>PersonName: </label>
  <input class="w3-input" type="text" name="PersonName"></p>
  <p>
  <button type="submit" class="w3-btn w3-blue">Send</button>
   <h1>@ViewBag.thongBao</h1>
   
</form> <h2>Le Quynh Anh_2021050074</h2>

</div>


