<div class="w3-container w3-boder" >
  <h2>Input Person</h2>
<form asp-action="Index" class="w3-container" method="post">
  <p>
  <label>Ho ten</label>
  <input class="w3-input" type="text" name="Name"></p>
  <p>
  <label>Ma nv </label>
  <input class="w3-input" type="text" name="manv"></p>
  <p>
  <label>Tuoi </label>
  <input class="w3-input" type="text" name="tuoi"></p>
  <p>
  <label>Luong </label>
  <input class="w3-input" type="text" name="luong"></p>
  <p>
  <button type="submit" class="w3-btn w3-blue">Send</button>
   <h1>@ViewBag.thongBao</h1>
   
</form> <h2></h2>

</div>


