<form asp-action="Index">
  <input type="text" name="HoTen" place holder="enter HoTen"/>
  <input type="text" name="HSluong" place holder ="enter HSluong"/>
  <input type="text" name="PhuCap" place holder ="enter PhuCap"/>
  <input type="text" name="Luongcb" place holder ="enter Luongcb"/>
  <input type = "submit" value = "send data"/>
</form>
<h1>@ViewBag.thongbao</h1>
