<form asp-action="Index">
  <input type="text" name="studentID" place holder="enter ID"/>
  <input type="text" name="fullname" place holder ="enter fullname"/>
  <input type = "submit" value = "send data"/>
</form>
<h1>@ViewBag.thongbao</h1>

