<div class="w3-container w3-blue">
  <h2>Input Person</h2>
</div>

<form class="w3-container" asp-action="Index">
  <p>
  <label>PersonID:</label>
  <input name="PersonID" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>FullName:</label>
  <input name="FullName" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
   <input type="submit" value="Send Data"> 
</form>
<p>@ViewBag.ThongBao</p>